.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}

.formLabel {
    display: flex;
    flex-direction: column;
}

.guideBtn, .tokenBtn {
    margin: 0.5rem;
}

.formBtn {
    margin: 1rem;
    background-color: white;
    border: none;
    border-radius: 4px;
}

.formBtn:not([disabled]):hover {
    background-color: lightgray;
}

.formBtn:is([disabled]):hover {
    cursor: default;
}

.tokenBtn, .guideBtn {
    position: fixed;
    top: 0;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    border: 0px;
    background-color: transparent;
}

.tokenBtn {
    right: 0;
}

.guideBtn {
    left: 0;
}

.formField {
    width: 90vw;
    max-width: 60ch;
    margin-bottom: 1rem;
    padding: 0.3rem;
    border-radius: 4px;
    border: 1px solid white;
    resize: none;
}

.formField:focus {
    border: 1px solid black;
}

.formRadio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formRadio>input {
    margin-right: 0.2rem;
}

.formNotif {
    text-align: center;
    width: 90vw;
    max-width: 60ch;
    white-space: pre-wrap;
    background-color: rgba(0,0,0,0.25);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
}