.guideh1 {
    margin-top: 2.5rem;
}

.guideh2 {
    margin-top: 2rem;
}

.guide {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guideText {
    width: 90vw;
    max-width: 80ch;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: rgba(0, 0,0, 0.25);
    padding: 1rem;
    border-radius: 4px;
    white-space: pre-wrap;
}

.guideImg {
    width: 90vw;
    max-width: 80ch;
}

.guideBtn {
    position: fixed;
    margin: 0.5rem;
    top: 0;
    left: 0;
    color: white;
    border: 0px;
    font-size: x-large;
    font-weight: bolder;
    background-color: transparent;
}

.guideBtn:focus, .guideBtn:hover {
    color: black;
}