*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    overscroll-behavior: none;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #5D35B1;
    color: white;
}

input,
button,
textarea {
    font: inherit;
}

button:hover {
    cursor: pointer;
}